* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: black;
}

header h1 {
  padding: 0px;
  color: white;
  font-size: 50px;
  font-weight: 900;
  font-style: bold;
  height: 45px;
  margin: 10px;
}

.description {
  color: whitesmoke;
  margin: 10px 0px 10px 0px;
  font-size: 10px;
  font-family: helvetica;
  opacity: 0.6;
  margin: 10px;
}

.button {
  margin: 30px 10px 30px 10px;
}

.btn1 {
  padding: 10px 40px 10px 40px;
  margin: 5px 5px 5px 0px;
  opacity: 0.8;
}

.btn2 {
  padding: 10px 60px 10px 60px;
  margin: 5px 5px 5px 0px;
  opacity: 0.8;
}

button {
  background: transparent;
  color: white;
  text-align: center;
  display: inline-flex;
  border-radius: 40px;
  border: 1px solid white;
}

button:focus {
  background: white;
  color: black;
}


footer {
  position: realtive;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 30px;
}


.card {
  color: white;
  margin: 10px;
}

.skill {
  margin: 0px 0px 30px 0px;
}

.skill h2 {
  text-align: center;
  color: white;
  background: orangered;
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
}

.skill p {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  height: 200px;
}