* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: aliceblue;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 60px 30px 50px 30px;
}

.nav-btn {
    margin: 10px;
    font-weight: bold;
    background-color: lavender;
    padding: 12px 20px;
    border-radius: 50px;
    user-select: none;
}

.nav-btn:hover {
    background-color: black;
    color: white;
}

.nav-img, .nav-img2 {
    width: 65px;
    border-radius: 50%;
    margin: 0px 20px;
}

.nav-img2-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-img2 {
    display: none;
    margin: 30px 0px 10px 0px;
    width: 100px;
}

.card1 {
    margin: 40px 0px 20px 20px;
    background-color: lightcoral;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    background: linear-gradient(to top left, lightblue 20%, lightcoral);
}

.card1-desc {
    display: flex;
    justify-content: left;
    font-size: 15px;
    margin-left: 10px;
    opacity: 0.8;
}

.card1-title {
    font-size: 4rem;
}

.card2 {
    padding-bottom: 100px;
}

.card2-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    padding: 25px;
}

.card2-desc {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: black;
}


.profile-pic {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    margin: 10px;
}

.profile-pic img {
    width: 40%;
    border-radius: 50%;
    padding: 20px;
}

.about-container, .work-container {
    margin: 60px 20px 80px 20px;
}

.about-title, .work-title {
    text-align: left;
    margin: 25px;
    font-size: 60px;
    padding-top: 20px;
}

.about-desc {
    margin: 20px;
    font-size: 25px;
    text-align: justify;
}

.name-container {
    width: 50%;
}

.work1 {
    display: flex;
}

.work1-site-preview {
    background-color: lightcoral;
    text-align: center;
    width: fit-content;
    padding: 20px;
    margin: 40px 20px 40px 20px;
    border-radius: 20px;
}

.work1-title {
    margin: 20px;
}

.work1-desc {
    margin: 45px 20px 40px 20px;
    font-size: 20px;
    text-align: justify;
}

.work1-img1 {
    width: 25rem;
}

.work1-img1 {
    margin: 0px 20px;
    border: 5px solid lightslategray;
    border-radius: 20px;
    scroll-snap-type: y mandatory;
}

.contact-container {
    margin: 10px 0px 80px 0px;
}

.contact-title {
    margin: 20px;
    font-size: 60px;
    padding: 20px;
}

.mail-container {
    padding: 40px;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 20px;
}

.mail-container label {
    font-size: 20px;
}

.mail-name, .mail-message {
    width: 25%;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
}

.mail-name::placeholder, .mail-message::placeholder {
    padding: 5px;
}

.mail-name {
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}

.mail-message {
    height: 150px;
    border-radius: 15px;
    resize: none;
    padding: 10px;
}

.mail-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
}

.mail-btn:hover {
    background-color: coral;
}

.footer-container {
    margin: 20px;
    background-color: black;
    color: white;
    text-align: left;
    padding: 60px 40px 20px 40px;
    border-radius: 20px;
}

.footer-container p {
    opacity: 0.9;
}

.social-container {
    display: flex;
    margin: 15px;
}

.social-container a {
    margin: 25px 10px;
    padding: 5px;
    font-size: 30px;
}

.twitter {
    color: #1DA1F2;
}

.facebook {
    color: #1877F2;
}

.instagram {
    color: orangered;
}

/* media queries */
@media screen and (max-width: 720px) {

    .nav {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 20px;
    }

    .nav-btn {
        text-align: center;
        padding: 20px;
    }

    .nav-img {
        display: none;
    }

    .nav-img2 {
        display: block;
    }

    .card1 {
        display: block;
        margin: 10px;
        padding: 25px;
    }

    .card1-title {
        font-size: 20px;
        width: 95%;
        margin: 10px;
    }

    .card1-desc {
        width: 200%;
    }

    .card2-title {
        font-size: 3.6rem;
        margin: 80px 60px;
        text-align: center;
    }

    .card2-desc {
        margin: 10px;
        padding: 0 40px;
        text-align: center;
    }

    .profile-pic {
        justify-content: center;
    }

    .profile-pic img {
        width: 12rem;
        margin-left: 50px;
        margin-top: 20px;
    }

    .about-desc {
        background-color:cornflowerblue;
        padding: 20px;
        border-radius: 20px;
        margin: 0px;
    }

    .about-container {
        margin: 0px;
    }

    .work-title {
        font-size: 40px;
        text-align: center;
    }

    .work-container {
        margin: 0px;
        padding: 10px;
    }

    .work1 {
        display: block;
    }

    .work1-desc {
        margin: 10px;
    }

    .mail-name, .mail-message {
        width: 100%;
    }

    .social-container {
        margin: 15px;
    }

    .contact-title {
        font-size: 30px;
        text-align: center;
    }

    .work1-site-preview {
        width: 95%;
        margin: 20px 0px;
        padding: 20px 10px;
    }

    .work1-img1 {
        width: 85%;
    }

    .social-container {
        justify-content: center;
        width: 90%;
    }

    .footer-container {
        margin: 20px 15px;
        padding: 40px 20px 20px 20px;
    }

    .about-title {
        font-size: 40px;
        text-align: center;
    }

    .contact-container {
        padding: 10px;
    }

    .mail-container {
        margin: 0px;
        padding: 10px;
    }

}