* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.pfpImg {
    text-align: center;
    padding: 150px 10px 20px 10px;
}

.pfpImg img {
    width: 50%;
    border-radius: 100%;
    outline: 5px solid #e6e6e6;
}

.pfpCaption {
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}

.pfpCaption h4 {
    opacity: 0.6;
}

.dialog {
    text-align: center;
    margin: 50px 20px;
    border-radius: 10px;
    background-color: #557083;
}

.dialog h4 {
    text-align: left;
    padding: 15px;
    color: white;
}

.dialog img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
}

.dialog img:hover {
    opacity: 0.8;
}

.dialog p {
    padding: 15px;
    text-align: left;
    color: whitesmoke;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.quote {
    text-align: center;
    margin: 20px;
    padding: 10px;
}



/* absolute item css */
li {
    list-style: none;
}


.menu-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.menu {
    width: 100%;
    height: 90px;
}

.menu-btn:hover {
    outline: 2px solid black;
}

.menu li {
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
    float: right;
    margin: 20px;
    z-index: -1;
}

.slider {
    width: 0%;
    padding: 10px;
    overflow: hidden;
    right: 70px;
    position: absolute;
    float: right;
}

.slider li {
    padding: 10px;
    background-color: white;
    margin: 10px;    
    border-radius: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;
}


.lastCat {
    text-align: center;
}

.lastCat img {
    width: 20%;
}


/* media queries */

@media(min-width: 480px) {
    .dialogs {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    
    .pfpImg img {
        width: 15%;
    }
    
    .slider {
        width: 80px;
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        right: 20px;
    }
    
    .slider li {
        height: 50px;
        width: 50px;
    }
}
